.home{
  min-width: 840px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  width: 100vw;
  height: 100vh;
  background: #25283dc4

}
.table{
  width: 60%;
  height: 100%;
  table-layout: fixed;
  color: rgb(235, 235, 235);
  background:#00b1aa;
  border-radius:12px;
  box-shadow: 5px 5px 8px 1px #25283d75;  
  
}
.table > thead{
  height:60px;
}
.td{
  text-align: center;
  font-size:1.2em;
  margin: 0;
  border-radius: 12px;
}

.tr .th{
  font-size:2em;
  font-weight: bold;
  
}
.tbody .tr:hover{
  background-color: #25283D;
  color: #fff;
  transition: 0.8s;
 
}
.search{
  display: flex;
  width: 100%;
  justify-content:flex-start;
  margin: 10px;
  
}
.search input{
  border: none;
  border-radius: 12px;
  height: 2rem;
  width: 15%;
  height:40px; 

}
.search input::placeholder{
  margin: 4px; 
  padding: 10px;

}
.logout{
  display: flex;
  width: 100%;
  justify-content:flex-end;
  margin: 10px;
  
}
.logout button{
  border: none;
  border-radius: 35px;
  height: 2rem;
  width: 10%;
  height:40px; 
}
.logout button:hover{
  background-color: #25283D;
 color: #fff;
 transition: 0.5s;
 cursor: pointer;
}