input{
    margin: 2vh;
    width: 80%;
    height: 7%;
    min-width: 240px;
    min-height: 35px;
    border-radius:20px;
    border: none;
    background-color: #fff;
    font-size: 1.2rem;
  }
  
  
  ::placeholder{
    color:#6f6f6f;
    font-size:1rem;
    padding:2%;
    font-family: 'Roboto', sans-serif;
  }